{
  "*.{json,css,md}": ["prettier --write"],
  "client/src/**/*.{ts,tsx}": [
    "prettier --write",
    "npm --prefix client run lint:fix"
  ],
  "services/graphql-service/src/**/*.ts": [
    "prettier --write",
    "npm --prefix services/graphql-service run lint:fix"
  ],
  "services/auth-service/src/**/*.ts": [
    "prettier --write",
    "npm --prefix services/auth-service run lint:fix"
  ]
}
